<div style="text-align:center">
  <h1 style="color:saddlebrown;font-size: x-large; font-weight: bolder">
    Welcome to Shoe Store!
  </h1>
</div>
<div style="background-color: rgb(173, 192, 155); width:40% ;float:left">
  <ul>
      <li *ngFor="let shoe of shoes; let i = index;">
          
              <div>
                  <div>Title: {{shoe.title}}</div>
                  <div>Category: {{shoe.category.categoryName}}</div>
                  <div>Price: {{shoe.price}}</div>
                  <div>Brand: {{shoe.brand.brandName}}</div>
                  <div><img width="100" height="100" src="{{shoe.imageURL}}"></div>
              </div>
              <div>
                      <span><button type="button" class="btn btn-danger btn-sm" (click)="deleteShoe(shoe.id)">Delete</button></span>
                      <span><button type="button" class="btn btn-info btn-sm" (click)="findShoeById(shoe.id)">Update</button></span>
              </div>
      </li>
  </ul>  
</div>


<div style="float:right; background-color:gold; width:400px; ">
  


  <div title="FORMA ZA UNOS NOVIH CIPELA">
      <div>Add new shoes</div>
      <form (ngSubmit)="save()">
          <div>
              <label for="title">Title:</label>
              <input name="title" [(ngModel)]="newShoe.title"/>
          </div>
          <div>
              <label for="price">Price:</label>
              <input name="price" [(ngModel)]="newShoe.price"/>
          </div>
          <div>
              <label for="category">Category:</label>
              <input name="category" [(ngModel)]="newShoe.category.categoryName"/>
          </div>
          <div>
              <label for="brand">Brand:</label>
              <input name="brand" [(ngModel)]="newShoe.brand.brandName"/>
          </div>
          <div>
                  <label for="image">ImageURL:</label>
                  <input name="image" [(ngModel)]="newShoe.imageURL"/>
              </div>
  
          <input type="submit" value="Save" />
      </form>
  </div>

  <br><br>

  <div title="FORMA ZA UPDATE CIPELA">
      <div *ngIf="clickedUpdate">
          <div>Update info</div>
              <form (ngSubmit)="updateInfo()">
                  <div>
                      <label for="title">Change title:</label>
                      <input name="title" [(ngModel)]="newShoeUpdate.title"/>
                  </div>
                  <div>
                      <label for="price">Change price:</label>
                      <input name="price" [(ngModel)]="newShoeUpdate.price"/>
                  </div>
                  <div>
                      <label for="category">Change category:</label>
                      <input name="category" [(ngModel)]="newShoeUpdate.category.categoryName"/>
                  </div><br>
                  <input type="submit" value="Save Updates" />
              </form>
      </div>
  </div>

  <br><br>


  <div title="SORTIRANJE I FILTRIRANJE PO CENI">
     
      <button type="button" style="background-color:crimson" (click)="loadData(orderTypes.desc)">SortByPriceDESC</button>
      <button type="button" style="background-color:crimson" (click)="loadData()">SortByPriceASC</button>

      <br><br>

      <form (ngSubmit)="filterByPrice()">
              <div>Insert min price: </div>
              <span><input name="price" type="text" class="form-control" [(ngModel)]="priceFilter.lowest" /></span>
              <div>Insert max price: </div>
              <span><input name="price" type="text" class="form-control" [(ngModel)]="priceFilter.highest" /></span><br>
              <input type="submit" value="Filter by price" />
      </form>
      <br>
      <button type="button" class="btn btn-primary" (click)="resetFilter()">Reset Filter</button>

  </div>

</div>   

<div title="LISTE BRENDOVA I KATEGORIJA" style="float:right; background-color: darkcyan; width:300px; margin-left: 10px;margin-right: 40px;">

      <p style="color: blue ;font-size: larger; font-weight: bold">List of brands:</p>
          <ul class="list-group">
              <li class="list-group-item list-group-item-success" *ngFor="let brand of brands">
                   <div>Title: {{brand.brandName}}</div>
              </li>
          </ul>
  
      <br><br>

      <p style="color: blue ;font-size: larger; font-weight: bold">List of categories:</p>
          <ul>
              <li class="list-group-item list-group-item-action list-group-item-secondary" *ngFor="let cat of categories">
                  <div>Title: {{cat.categoryName}}</div> 
              </li>
          </ul>
  
</div>
